<div *ngIf="films.length" class="row">
  <div class="col-md-3 col-sm-6" *ngFor="let film of films">
      <nb-card class="card" [class.card-hover]="voteEnabled">
        <a [routerLink]="voteEnabled ? ['/film', film._id] : null" class="card-link"> <!-- Add this anchor element -->
        <nb-card-header>{{ isRich ? film.film.name || film.film.title : film.name || film.title }}</nb-card-header>
        <nb-card-body class="card-body">
          <div class="img-frame-container">
            <img src="{{ isRich ? getImagePath(film.film.imgUrl, film.film.poster_path) : getImagePath(film.imgUrl, film.poster_path)}}"
            class="img-frame"  alt="{{isRich ? film.film.name || film.film.title : film.name || film.title}}"/>
          </div>
        </nb-card-body>
        <nb-card-footer class="card-footer row">
          <ng-container>
            <div class="icon-container">
            <nb-icon icon="clock-outline"></nb-icon>
            <h6>{{ isRich ? formatDuration(film.film.duration) || 0 : formatDuration(film.duration) || 0 }}</h6>
          </div>&nbsp;|&nbsp;&nbsp;
          </ng-container>
          <h6>Released: {{ isRich ? (film.film.releaseDate || film.film.release_date | date) : film.releaseDate || film.release_date | date }}</h6>
        </nb-card-footer>
        <nb-card-footer class="card-footer row" *ngIf="!voteEnabled">
          <div class="col-12 pad-2">
            <!-- date picker -->
            <label nbLabel for="date" style="text-align: center">Screening date:</label>
            <input
              nbInput
              type="date"
              id="date"
              [(ngModel)]="film.screeningDate"
              (ngModelChange)="updateScreeningDate($event, film._id)"
              placeholder="Pick a screening date"
              status="danger"
              fieldSize="large"
              class="mleft-1"
            />
            <label nbLabel for="date" style="text-align: center">Screening time:</label>
            <input
            class="mleft-1 mtop-1"
            nbInput
            type="text"
            [nbTimepicker]="timepicker"
            [(ngModel)]="film.screeningTime"
            (ngModelChange)="updateScreeningTime($event, film._id)"
            />
            <nb-timepicker #timepicker></nb-timepicker>
          </div>
        </nb-card-footer>
      </a> <!-- Close the anchor element -->
      <nb-card-footer class="card-footer row" *ngIf="isRich">
        <div class="col-12">
          <h6>Added by: {{ currentUser._id === film.user._id ? "You" : film.user.username }}</h6>
        </div>
      </nb-card-footer>
        <nb-card-footer class="card-footer row">
          <div class="col-12">
            <button
              nbButton
              status="primary"
              (click)="isAdmin && buttonText !== 'Add' ? hide(film, $event) : clickEvent(film, $event)"
            >
              {{ isAdmin && buttonText !== 'Add' ? 'Hide' : buttonText}}
            </button>
          </div>
        </nb-card-footer>
    </nb-card>
  </div>
</div>
