button {
  margin-left: 1vw;
}

.phrase {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-top: 5vh;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  text-overflow: clip;
}

.vl-banner {
  width: 100%;
  height: 40%;
  position: relative;
}

.vl-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vl-header {
  position: absolute;
  bottom: 20rem;
  left: auto;
  width: inherit;
  padding: 20px;
}

.vl-user {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 20px;
}

p, .vl-user p  {
  margin: 0;
  color: #ffffff; /* Text color */
  font-size: 1.4rem !important;
}

.vl-header .underline {
  margin: 0 !important;
}

.vl-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.vl-actions button h6 {
  margin-left: 5px; /* Adjust spacing between icon and text */
  color: #ffffff; /* Text color */
}

.vl-actions {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .3rem;
}

.vl-actions button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
}

.vl-actions nb-icon {
  font-size: 1.8rem;
}

.vl-details {
  padding: 20px;
  color: #ffffff; /* Text color */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.vl-add-film {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.vl-body {
  padding: 8rem 20px;
}
