<nb-card class="centered-card">
    <nb-card-header class="header">
      Manage Members
    </nb-card-header>
    <nb-card-body>
      <table class="table table-responsive table-dark">
        <thead>
          <tr>
            <th>Username</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of editableMembers">
            <td class="align-middle">{{ member.user.username }}</td>
            <td class="align-middle">{{ member.status }}</td>
            <td>
                <button *ngIf="member.status === 'pending'" nbButton status="success" class="margin-right" (click)="updateMember(member.user.id, 'member')">
                    <nb-icon icon="checkmark-circle-2" pack="eva"></nb-icon>
                    Accept
                </button>
                <button *ngIf="member.status === 'pending'" nbButton status="danger" (click)="updateMember(member.user.id, 'rejected')">
                    <nb-icon icon="close-circle" pack="eva"></nb-icon>
                    Reject
                </button>
                <button *ngIf="member.status !== 'owner' && member.status !== 'pending'" nbButton status="danger" (click)="removeMember(member.user.id)">
                    <nb-icon icon="trash-2" pack="eva"></nb-icon>
                    Remove
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
    <nb-card-footer class="text-center">
      <button nbButton status="danger" (click)="onCancel()">Cancel</button>
      <button nbButton status="success" style="margin-left:1rem" type="submit" (click)="onSubmit()">Submit</button>
    </nb-card-footer>
  </nb-card>
