<nb-card class="centered-card">
    <nb-card-header>
        Sign Up
    </nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
            <nb-form-field class="myFormField">
              <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
              <input
                nbInput
                type="text"
                id="username"
                autocomplete="off"
                name="username"
                formControlName="username"
                placeholder="Username"
                fullWidth
                [status]="getValidationStatus('username')"
                fieldSize="large"
              />
              <div *ngIf="signupForm.get('username')?.hasError('required') && signupForm.get('username')?.touched" class="validation-error">
                Username is required.
              </div>
              <div *ngIf="signupForm.get('username')?.hasError('minlength') && signupForm.get('username')?.touched" class="validation-error">
                Username must be at least 3 characters.
              </div>
              <div *ngIf="signupForm.get('username')?.hasError('invalidUsername') && signupForm.get('username')?.touched" class="validation-error">
                Username must contain at least one letter.
              </div>
            </nb-form-field>
            <nb-form-field class="myFormField">
              <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
              <input
                nbInput
                type="password"
                id="password"
                name="password"
                formControlName="password"
                placeholder="Password"
                fullWidth
                [status]="getValidationStatus('password')"
                fieldSize="large"
              />
              <div *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched" class="validation-error">
                Password is required.
              </div>
              <div *ngIf="signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched" class="validation-error">
                Password must be at least 6 characters.
              </div>
            </nb-form-field>
            <nb-form-field class="myFormField">
              <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
              <input
                nbInput
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                formControlName="confirmPassword"
                placeholder="Confirm Password"
                fullWidth
                [status]="getValidationStatus('confirmPassword')"
                fieldSize="large"
              />
              <div *ngIf="signupForm.get('confirmPassword')?.hasError('required') && signupForm.get('confirmPassword')?.touched" class="validation-error">
                Verify Password is required.
                </div>
                <div *ngIf="signupForm.get('confirmPassword')?.hasError('mismatch') && signupForm.get('confirmPassword')?.touched" class="validation-error">
                Passwords do not match.
                </div>
            </nb-form-field>
            <nb-form-field class="myFormField">
              <nb-icon nbPrefix icon="hash-outline" pack="eva"></nb-icon>
              <input
                nbInput
                type="text"
                id="username"
                autocomplete="off"
                name="username"
                formControlName="accountCode"
                placeholder="Code"
                fullWidth
                [status]="getValidationStatus('accountCode')"
                fieldSize="large"
              />
              <div *ngIf="signupForm.get('accountCode')?.hasError('required') && signupForm.get('accountCode')?.touched" class="validation-error">
                Code is required.
              </div>
              <div *ngIf="signupForm.get('accountCode')?.hasError('minlength') && signupForm.get('accountCode')?.touched" class="validation-error">
                Code must be 6 characters.
              </div>
              <div *ngIf="signupForm.get('accountCode')?.hasError('maxlength') && signupForm.get('accountCode')?.touched" class="validation-error">
                Code must be 6 characters.
              </div>
            </nb-form-field>
            <button nbButton fullWidth status="primary" type="submit" [disabled]="signupForm.invalid">Sign Up</button>
          </form>

    </nb-card-body>
</nb-card>
