<nb-layout class="root">
  <nb-layout-header subheader class="brand" fixed>
    <a href="#" (click)="toggle()"><nb-icon icon="menu-2" [options]="{ animation: { type: 'pulse' } }"></nb-icon></a>
    <a routerLink="/home" class="logo">{{ title }}</a>
  </nb-layout-header>

  <!-- Replace this section with the sidebar component -->
  <nb-sidebar state="compacted" subheader>
    <nb-menu [items]="items">
    </nb-menu>
 </nb-sidebar>
  
  <nb-layout-column class="mt-2">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <div class="footer">
      <strong>Made by Karabo Matabane |&nbsp;</strong>
      <a href="https://github.com/karabomatabane" target="_blank">
        <nb-icon icon="github" status="success"></nb-icon>
      </a>
    </div>
  </nb-layout-footer>
</nb-layout>
