<nb-layout class="root">
  <nb-layout-header fixed>
    <h1>{{title}}</h1>
    <div class="button-group">
      <button id="button" nbButton status="danger" routerLink="/">
        <h6>Home</h6>
      </button>
      <!-- <button id="button" nbButton status="danger" routerLink="/bookmarks">
        <h6>Bookmark</h6>
      </button> -->
      <button id="button" nbButton status="danger" routerLink="/login">
        <h6>Login</h6>
      </button>
      <button id="button" nbButton status="danger" routerLink="/register">
        <h6>Sign up</h6>
      </button>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <div class="footer">
      <strong>Made by Karabo Matabane |&nbsp;</strong
      ><a href="https://github.com/karabomatabane" target="_blank"
        ><nb-icon icon="github" status="success"></nb-icon
      ></a>
    </div>
  </nb-layout-footer>
</nb-layout>
