<div class="container" #scrollToTop>
    <!-- Search Feature -->
    <div class="phrase">
      <h3>Search Film by Name</h3>
    </div>
    <div class="search-box">
      <nb-form-field>
        <nb-icon nbPrefix icon="search" pack="eva"></nb-icon>
        <input
          nbInput
          type="search"
          id="search"
          [(ngModel)]="searchText"
          (keyup.enter)="searchFilms()"
          placeholder="Search"
          fullWidth
          status="danger"
          fieldSize="large"
        />
      </nb-form-field>
      <button
        id="button"
        nbButton
        status="danger"
        (click)="searchFilms()"
      >
        <h6>Search</h6>
      </button>
    </div>

    <!-- <div class="text-center">
      <button
      nbButton
      status="primary"
      (click)="addSAFilms()">Seed</button>
    </div> -->
    <!-- Render search film -->
    <app-collection [films]="films" buttonText="Add"></app-collection>

  </div>
