nb-card-body {
    padding: 0;
    overflow: hidden;
}

nb-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 1.5rem;
    text-align: center;
}

nb-card {
    max-width: 100%;
}

.img-frame {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
}

.filmPicture {
    width: 100%;
    height: 60vh;
    margin-left: 0px;
    margin-right: 0px;
}

.card-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
    padding: 4px 0px;
    align-items: center;
}

ul.filmText {
    margin: 0px;
    text-align: center;
    list-style-type: none;
    /* Remove the default bullet points */
}

.filmText li, nb-accordion-item-header {
    display: inline-block;
    font-size: 1.2rem !important;
    font-weight: 500;
}

/* Add a separator (::before) to all li items except the first one */
.filmText li:not(:first-child)::before {
    content: " \00B7 ";
    /* Unicode for middle dot (·) */
    padding: 0 1rem;
    /* Adjust spacing as needed */
}

ul.filmDisc {
    margin-top: .6rem !important;
    list-style: none;
    /* Remove the default list-style */
    display: flex;
    /* Display list items horizontally */
    flex-wrap: wrap;
    /* Allow items to wrap onto multiple lines */
    justify-content: center;
    /* Center the items horizontally */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

.filmDisc li {
    margin: 5px;
    /* Add spacing around each item */
    border: 1px solid #f1f1f1;
    /* Border for the pill shape */
    border-radius: 20px;
    /* Create a pill shape with border */
    padding: 8px 16px;
    /* Adjust padding as needed */
    text-align: center;
    /* Center text within the pill shape */
}

nb-card.cast {
    background-color: #151A30 !important;
    border: none !important;
}

.rating {
    margin-top: 1rem;
    width: auto !important;
}

.rating nb-icon {
    font-size: 2.5rem;
}

.rating-value {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: .6rem;
    display: none;
    color: #00d68f;
    text-align: center;
}

.rating:hover .rating-value {
    display: block; /* Show the rating value when the parent (.rating) is hovered */
}

.rating:hover .star {
    animation: pulse 1s infinite alternate;
}

.rate-button, .vote-button {
    margin-top: .6rem;
    text-align: center;
}

.votes { /*text*/ 
    font-size: 1.2rem;
    font-weight: 500;
    color: #0095ff;
    margin-top: 1.8rem;
    text-align: center;
}

.row.ratings-and-votes {
    display: flex;
    justify-content: center !important;
    margin: auto;

}

.review {
    margin: 1rem 2rem;
    background-color: #00000028;
    border-radius: 10px; /* Adjust the value for the desired roundness */
    padding: 1rem 1.5rem; /* Adjust the padding as needed */
}

.review:hover {
    background-color: #0000004d;
}

.review-comment {
    font-size: 1.2rem;
    font-weight: 500;
}

.review-rating {
    font-size: 1.2rem;
    font-weight: 500;
    color: #00d68f;
    float: inline-end;
}

.review-credit {
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: #d8dde6;
}

.line-break {
    border-bottom: 1px solid #151A30;
    margin: 1rem 0;
}

ul li, p, nb-accordion-item-header {
    font-family: "Farro", sans-serif;
}

nb-accordion-item-header {
    display: block !important;
    text-align: center !important;
}

p {
    font-size: 1.1rem;
}

/* desktop  screen */
@media only screen and (min-width: 1024px) {
    .filmPicture {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        object-fit: fit;
        /* Maintain aspect ratio */
    }

    .cast-row {
       /* center horizontally */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* smaller laptops */

@media only screen and (min-width: 979px) {
    .rating-value {
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 1.7rem;
        margin-top: .6rem;
        display: none;
        color: #00d68f;
    }
    
    .rating:hover .rating-value {
        display: block; /* Show the rating value when the parent (.rating) is hovered */
    }
    
    .rating:hover .star {
        animation: pulse 1s infinite alternate;
    }
    
    .rate-button, .vote-button {
        margin-top: .6rem;
        width: auto !important;
    }
    
    .votes { /*text*/ 
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 1.8rem;
        padding-left: 2.8rem;
        margin-left: 2rem;
        color: #0095ff;
        width: auto !important;
        border-left: #151A30 solid .1rem;
    }
    
    .row.ratings-and-votes {
        display: flex;
        justify-content: center !important;
        align-items: center;
        margin: 1rem 1rem 2rem auto;
    }
    
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: .8;
    }
    100% {
        transform: scale(1.1);
        color: #19f27f
    }
}